body {
  margin: 0;
  padding: 0;
}

.catalog ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  padding: 20px;
  margin: 0;
  list-style: none;
}

.catalog li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 20px;
  transition: 1s;
}

.catalog li:hover {
  box-shadow: 2px 2px 5px #ffffff;
}

.poster img {
  width: 150px;
}

.unavailable {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #737373;
  height: 293.33px;
}

.rating {
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.genre {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.select-genre {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 14px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.movie-card {
  display: flex;
  gap: 20px;
}