.welcome {
  margin-top: 80px;
  background: url(../../assets//images/welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}


.trial-logo img {
  width: 150px;
  left: 25%;
}

.trial-text {
  text-align: left;
  max-width: 60%;
}

.trial-text h1 {
  font-size: 40px;
}

.trial-text h2 {
  font-size: 25px;
  color: rgb(255, 225, 0);
}