body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#1b2a3b, #000000);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 100px 0 0 0;
  /* background: linear-gradient(#283d57, #1b2a3b); */
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #ffffff;
}

button {
  padding: 10px;
  background: linear-gradient(#42699c, #29405f);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: solid 1px #ffffff;
  border-radius: 5px;
}